@font-face {
	font-family: "Akronim";
	font-display: swap;
	src: url(../fonts/Akronim-Regular.woff2), url(../fonts/Akronim-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Koulen";
	font-display: swap;
	src: url(../fonts/Koulen-Regular.woff2), url(../fonts/Koulen-Regular.woff);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "MuktaVaani";
	font-display: swap;
	src: url(../fonts/MuktaVaani-Regular.woff2), url(../fonts/MuktaVaani-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Roboto";
	font-display: swap;
	src: url(../fonts/Roboto-Regular.woff2), url(../fonts/Roboto-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "WorkSans";
	font-display: swap;
	src: url(../fonts/WorkSans-Regular.woff2), url(../fonts/WorkSans-Regular.woff);
	font-weight: 400;
	font-style: normal;
}
