.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
	max-width: 1340px + 30px;
	margin: 0 auto;
	padding: 0 15px;
}
.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}
