@import "config/fonts";
@import "config/vars";
@import "config/reset";
@import "config/global";
@import "config/libs";

@import "config/media";

.header {
	border: 1px solid #979797;
	background: radial-gradient(100% 100% at 52.01% 53.93%, rgba(255, 255, 255, 9e-6) 0%, rgba(0, 0, 0, 0.045) 100%),
		#f4f4f4;
	&__top {
		margin-top: 75px;
		margin-bottom: 170px;
		display: flex;
		justify-content: space-between;
	}
	&__list {
		p {
			display: block;
			font-size: 5rem;
			color: red;
			margin-top: 100px;
		}
		text-align: center;
		height: 5000px;
		width: 3000px;
		margin-bottom: -3000px;
		margin-top: -1580px;
		margin-left: -400px;
		margin-right: -400px;
		background-color: #232536;
		transform: translateY(-350%);
		transition: all 0.3s;
		display: none;
		&--open {
			transform: translateY(30%);
			z-index: 1;
			display: block;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		background-image: url(../images/main-logo.svg);
		background-repeat: no-repeat;
		background-position: center 190px;
		background-size: 100% auto;
	}
	&__content-title {
		font-family: "Akronim";
		font-size: 3rem;
		max-width: 310px;
		line-height: 55px;
		color: #7a797a;
		margin-right: 105px;
	}
	&__content-images {
		img {
			height: auto;
			width: 100%;
			max-width: 574px;
		}
	}
}
.potted {
	position: relative;
	display: flex;
	margin-top: -2px;
	background-color: #4a4a4a;
	max-height: 795px;
	&__slider-item {
		display: flex !important;
		padding-top: 140px;
	}
	&__slider-images {
		max-width: 640px;
	}
	&__box {
		padding-top: 55px;
		margin-left: 140px;
		max-width: 433px;
	}
	&__box-title {
		font-family: "WorkSans";
		font-size: 5.0625rem;
		line-height: 100px;
		letter-spacing: 18.9844px;
		color: #ffffff;
	}
	&__box-text {
		font-family: "MuktaVaani";
		font-size: 1.5rem;
		line-height: 35px;
		color: #ffffff;
		text-align: justify;
	}
	&__slider-button {
		padding: 15px 0px;
		margin-top: 320px;
	}
	&__slider-btn {
		border: 3px solid #979797;
		padding: 15px 85px;
		font-family: "Koulen";
		font-size: 2.25rem;
		line-height: 65px;
		letter-spacing: 8px;
		color: #7a797a;
		position: absolute;
		&::after {
			content: "";
			position: absolute;
			right: -120px;
			top: 30px;
			background-image: url(../images/icon/arrow.svg);
			width: 71px;
			height: 35px;
		}
		&:hover {
			-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
		}
	}
}
.social-list {
	padding-top: 470px;
	padding-left: 45px;
	&__item {
		& + .social-list__item {
			padding-top: 25px;
		}
		&:hover {
			path {
				fill: #aca9a9;
			}
		}
	}
}
.slick-prev {
	font-size: 0;
}
.slick-next {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0;
	bottom: 370px;
	&::after {
		content: "";
		position: absolute;
		background-image: url(../images/icon/right-arrow.svg);
		left: -60px;
		width: 38px;
		height: 70px;
	}
}
.slick-dots {
	position: absolute;
	right: 160px;
	bottom: 400px;
	display: flex;
	button {
		font-size: 0;
		width: 125px;
		height: 2px;
		background-color: #fff;
		opacity: 0.6;
	}
}
.slick-active {
	button {
		width: 126px;
		height: 4px;
		background-color: #fff;
		opacity: 1;
	}
}
.vases {
	margin-top: 530px;
	&__content {
		display: flex;
		gap: 10px;
	}
	&__content-title {
		writing-mode: vertical-lr;
		text-orientation: upright;
		padding-left: 160px;
		padding-right: 15px;
		font-family: "Roboto";
		font-size: 3rem;
		line-height: 115.3%;
		letter-spacing: 10.6667px;
		color: #7a797a;
	}
	&__content-images {
		height: auto;
		width: 100%;
	}
	&__content-text {
		padding-top: 25px;
		font-family: "Mukta Vaani";
		font-size: 24px;
		line-height: 35px;
		text-align: center;
		color: #4a4a4a;
		margin: auto;
	}
	&__content-text--narrow {
		max-width: 280px;
	}
	&__content-text--wide {
		max-width: 410px;
	}
	&__footer {
		display: flex;
	}
	&__footer-images {
		padding-top: 100px;
		margin-left: -200px;
	}
	.potted__slider-button {
		margin-top: 110px;
		padding-bottom: 180px;
		padding-left: 500px;
	}
}
